.env
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/public/assets
.env*
.DS_Store
config/master.key
config/credentials.yml.enc
tmp/
log/
.env*

/app/assets/builds/*
!/app/assets/builds/.keep
